*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a, a:link, a:visited{
    color: inherit;
    text-decoration: none;
}  

li {
    list-style: none;
} 
/* css reset */

main{
    width: 60%;
    height: 100vh;
    margin-left: 20%;
}

header{
    width: 100%;
    height: 90px;
    background-color: darkblue;
    color: white;
    display: flex;
    justify-content:space-between;
    align-items:center;
    padding: 0 30px;
}



/* nav */
nav{
    width: 100%;
    height: 80px;
}

nav > ul{
    width: 100%;
    height: 100%;
    margin: 10px;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li{
    padding: 10px;
    margin: 10px 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: antiquewhite;
}

nav ul li:hover{
  background-color:blue;  
  color: white;
}
/* nav_end */

/* div > ul > li */
section > ul > li{
    text-align: center;
    background-color: beige;
    margin: 10px 40px;
    padding: 10px;
}

section > ul > li:hover{
    background-color: orange;
    color: white;
}
/* div > ul > li _ end */

p.button{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: white;
    color: darkblue;
}

article{
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div{
    width: 100%;
    height: 60px;
    background-color: beige;
    border: 1px dotted gray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-weight: bold;
    margin: 10px 0;
}

button{
    width: 100px;
    height: 40px;
    padding: 10px;
    background-color: blue;
    color: white;
    border: 0px;
    border-radius: 10px;
    margin: 20px;
}

button:hover{
    background-color: lightblue;
    color: blue;
}