#btDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
}

button{
    width: 150px;
}

img{
    padding: 20px;
}



.inner{
    border: none;
    padding: 10px;
    height: 200px;
    width: 60%;
}



.dice{
    flex-direction: column;
    border: none;
    width: 40%;
}

