article{
  background-color: #eff6ff;
  justify-content: center;
}


#h{
  display: flex;
  justify-content: center;
}

input{
  height: 60px;
  width: 600px;
  margin-top: 10px;
  text-align: center;
  font-size: x-large;
}

section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spdv{
  
}


#h{
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#m{
  padding-bottom: 20px;
}